<launch>

  <arg name="qualisys_fps" default="100"/>
  <arg name="model"/>
  <arg name="output" default="screen"/>

  <node pkg="qualisys" type="qualisys_odom_node" name="$(arg model)"
    output="$(arg output)">
    <param name="qualisys_fps" type="double" value="$(arg qualisys_fps)"/>
    <remap from="~qualisys_subject" to="qualisys/$(arg model)"/>
  </node>
</launch>