<launch>

    <!--open serial connection for controlling SVEA-->
    <!--<node pkg="rosserial_python" type="serial_node.py" name="serial_node" args="/dev/ttyACM0" output="screen"/>-->

    <node pkg="svea" type="sim_SVEA_keyboard.py" name="SVEA_keyteleop" output="screen"/>

    <!--key teleop-->
    <node pkg="key_teleop" type="key_teleop.py" name="teleop" output="screen"/>

</launch>
