<!--
Partial containing code for modal shown when obstacle has been hit.
Emma Johansson
Last updated: 2019-07-09
-->

<div id="myHitModal" class="modal">
  <div class="container-fluid">
    <div class="modal-content" style="width: 80%;">
      <div class="modal-header">
        <h1 id="header" style="top-margin: 10px; margin: 0 auto;" class="text-center">Oh no! You hit an obstacle. Try again!</h1>
      </div>
      <div class="modal-footer">
        <div  style="margin: 0 auto;">
          <a href="#" ><button class="cool-btn cool-btn2 btn1 btn" id="restartBtn" style="text-decoration: none !important; margin-left:10px; margin-right: 10px;">OK</button></a>
        </div>
      </div>
    </div>
  </div>
</div>
