<!--
Partial containing code for modal shown when level 3 is completed.
Emma Johansson
Last updated: 2019-07-09
-->

<div id="myModal3" class="modal">
  <div class="container-fluid">
    <div class="modal-content" style="width: 80%;">
      <div class="modal-header">
        <h1 id="header" style="top-margin: 10px; margin: 0 auto;" class="text-center">YOU DID IT!</h1>
      </div>
      <div class="modal-body">
        <p style="font-size: 25px;">You solved level 3 with the following Python code:</p>
        <pre style="font-family: courier; font-weight: bold; font-size: 20px;" id='code'></pre>
        <p style="font-size: 25px;"> Are you ready to run the code on the car?</p>
      </div>
      <div class="modal-footer">
        <div  style="margin: 0 auto;">
          <div class="row">
            <span id="runOnRoverBtn"></span>
            <!-- <a href=`/level3/?id=${unique_id}`><button class="cool-btn cool-btn2 btn1 btn" id="btn1" style="text-decoration: none !important; margin-left:10px; margin-right: 10px;">Cancel</button></a> -->
            <a href="#" ><button class="cool-btn cool-btn2 btn1 btn" id="btn1" style="text-decoration: none !important; margin-left:10px; margin-right: 10px;" onclick="postCodeToCar()">Run on Car</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  buttonStr = `<a href=/level3/?id=${unique_id}><button class="cool-btn cool-btn2 btn1 btn" id="btn1" style="text-decoration: none !important; margin-left:10px; margin-right: 10px;">Cancel</button></a>`;
  $('#runOnRoverBtn').html(buttonStr);
</script>
