<div id="myModal2" class="modal">
  <div class="modal-content">
    <p>CONGRATULATIONS!</p>
    <pre id='code2'></pre>
    <p> Continue to level 3?</p>
    <div class="row">
      <a href="/level3">
        <button type="button" name="toLevel3" class="cool-btn btn1 btn" id="btn1">OK</button>
       </a>
       <a href="/level2">
         <button type="button" name="toLevel2" class="cool-btn btn1 btn" id="btn1">CANCEL</button>
        </a>
  </div>
</div>
