<!--
Partial containing code for modal shown when level 2 is completed.
Emma Johansson
Last updated: 2019-07-09
-->

<div id="myModal2" class="modal">
  <div class="container-fluid">
    <div class="modal-content" style="width: 80%;">
      <div class="modal-header">
        <h1 id="header" style="top-margin: 10px; margin: 0 auto;" class="text-center">YOU DID IT!</h1>
      </div>
      <div class="modal-body">
        <p style="font-size: 30px;">You solved level 2 with the following Python code:</p>
        <pre style="font-family: courier; font-weight: bold; font-size: 30px;" id='code'></pre>
        <p style="font-size: 30px;"> Continue to level 3?</p>
      </div>
      <div class="modal-footer">
        <div  style="margin: 0 auto;">
          <div class="row">
            <a href="/level2" ><button class="cool-btn cool-btn2 btn1 btn" id="btn1" style="text-decoration: none !important; margin-left:10px; margin-right: 10px;">Cancel</button></a>
            <a href="/level3" ><button class="cool-btn cool-btn2 btn1 btn" id="btn1" style="text-decoration: none !important; margin-left:10px; margin-right: 10px;">OK</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
