<div id="myModal3" class="modal">
  <div class="modal-content">
    <p>CONGRATULATIONS!</p>
    <pre id='code2'></pre>
    <div class="row">
       <button type="button" onclick="runOnCar()">RUN ON CAR</button>
       <a href="/level3">
         <button type="button" name="toLevel2" class="cool-btn btn1 btn" id="btn1">CANCEL</button>
        </a>
  </div>
</div>
