<div id="myModal3" class="modal">
  <div class="modal-content">
    <p>CONGRATULATIONS!</p>
    <pre id='code'></pre>
    <div class="row">
      <a href="/level3">
        <button type="button" name="toLevel2" class="cool-btn btn1 btn" id="btn1">CANCEL</button>
       </a>
       <button type="button" onclick="runOnCar()">RUN ON CAR</button>
  </div>
</div>
