<!--
Partial containing code for modal shown when level 1 or 2 is completed.
Emma Johansson
Last updated: 2019-07-12
-->

<div id="myModal" class="modal">
  <div class="container-fluid">
    <div class="modal-content" style="width: 80%;">
      <div class="modal-header">
        <h1 id="header" style="top-margin: 10px; margin: 0 auto;" class="text-center">YOU DID IT!</h1>
      </div>
      <div class="modal-body">
        <span id="modalBody"></span>
      </div>
      <div class="modal-footer">
        <div  style="margin: 0 auto;">
          <div class="row">
            <span id="modalFooter"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
