<nav>
  <div class="text-center">
    <a href="/level1">
      <button type="button" name="toLevel1" class="cool-btn btn1 btn" id="btn1">LEVEL 1</button>
     </a>
     <a href="/level2">
       <button type="button" name="toLevel1" class="cool-btn btn1 btn" id="btn1">LEVEL 2</button>
      </a>
      <a href="/level3">
        <button type="button" name="toLevel1" class="cool-btn btn1 btn" id="btn1">LEVEL 3</button>
     </a>
  </div>
</nav>
