<!--
Partial containing run/cancel-buttons and function that shows/hides these depending on simulation.
Emma Johansson
Last updated: 2019-07-09
-->
<div style="margin: 0 auto">
  <a href="#"><button class="cool-btn btn1 btn" onclick="runCode();" type="button"  id="runBtn">RUN CODE</button></a>
  <a href="#"><button class="cool-btn btn1 btn" onclick="cancelSimulation()" type="button"  id="cancelBtn" style="display:none;">CANCEL</button></a>
</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script type="text/javascript">
  function runOrCancel(){
      // If the simulation is running the cancel-button will be shown and run-button will be hidden.
      if (runningSimulation === true){
        $("#cancelBtn").show();
        $("#runBtn").hide();
      }
      // If not, the cancel-button will be hidden and run-button will be shown.
      else {
        $("#cancelBtn").hide();
        $("#runBtn").show();
      }
  }

</script>
