
  <div class="spinner-grow text-dark" role="status" id="spinner" style="position: absolute;top: 30%; width: 20rem; height: 20rem; z-index:100; display:none;">
    <span class="sr-only">Loading...</span>
  </div>
