<div class="tutorial" id="myTutorial">
  <div class="tutorialContent">
      <div class="tutorialHeader">
        <h1>Are you stuck? Check this out.</h1>
      </div>
      <div class="tutorialBody">
        <ul>
          <li>Ex. 1</li>
          <li>Ex. 2</li>
          <li>Ex. 3</li>
          <li>Ex. 4</li>
          <li>Ex. 5</li>
          <li>Ex. 6</li>
          <li>Ex. 7</li>
        </ul>
      </div>
  </div>
</div>
<script type="text/javascript">
    function showTutorial(){
    var helpBtn = document.getElementById('helpBtn');
    var tutorial = document.getElementById('myTutorial');
    tutorial.style.display = "block";
    helpBtn.onclick = function() {
      tutorial.style.display = "none";
    }
    window.onclick = function(event) {
      if (event.target == tutorial){
        tutorial.style.display = "none";
      }
    }
  }
</script>
