<!DOCTYPE html>
<!-- Make this page more interesting maybe? //Mikael -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>404 - Not found</title>
  </head>
  <body>
    <h1>Error 404 - Page Not Found</h1>
    <h2>The requested page <%=message %> does not exist.</h2>
    <a href="/" >
    <button type='button'>Return to start</button>
    </a>
  </body>
</html>
