<!--
Administrative page.
Hold some powerful aftions only meant to be controlled by host.

Created by: Emma Johansson & Mikael Glamheden
Last updated: 2019-07-18
 -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="../node_modules/socket.io-client/dist/socket.io.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/style.css" type="text/css">
    <title>Admin Page</title>
  </head>
  <body>
    <h1 style="text-align: center; margin-top: 30px; color: #ff6d44; font-size: 70px;">ADMIN PAGE</h1>

    <div class="row my-5">
      <div class="col-6 text-center">
        <p style="color: white;">This button runs the selected code on the rover.</p>
        <a href="#"><button class="cool-btn btn1 btn" type="button" onclick="runOnCar()">Run on Car</button></a>
      </div>
      <div class="col-6 text-center">
        <p style="color: white;">This button cancels the current execution.</p>
        <a href="#"><button class="cool-btn btn1 btn" type="button" onclick='cancelCar()'>Cancel</button></a>
      </div>
      <div class="col-6 text-center">
        <p style="color: white;">This button clears the code.py file.</p>
        <a href="#"><button class="cool-btn btn1 btn" type="button" onclick="clearCode()">Clear code.py</button></a>
      </div>
    </div>
    <div class="row my-5">
      <div class="col-6 text-center">
        <p style="color: white;">This button clears the code_real.py file.</p>
        <a href="#"><button class="cool-btn btn1 btn" type="button" onclick="clearCodeReal()">Clear code_real.py</button></a>
      </div>
      <div class="col-6 text-center">
<<<<<<< HEAD
        <p style="color: white;">This button shows used team names.</p>
        <a href="#"><button class="cool-btn btn1 btn" type="button" onclick='checkUsedId()'>Used names</button></a>
=======
        <p style="color: white;">This button shows the available team names.</p>
        <a href="#"><button class="cool-btn btn1 btn" type="button" onclick='checkUsedId()'>Available names</button></a>
>>>>>>> 5b8008987d0fc45e83acdbca1bc124a19d6ddd76
      </div>
    </div>
    <script type="text/javascript">
     // imports the functions related to running the code on the car.
      <% include partials/runOnCarFunctions.js %>

      var unique_id = 'adminId';
      var unique_name = 'name';
      var goal_coords = {'x': 1.1, 'y': -1, 'yaw': 0};

    </script>
  </body>
</html>
