<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="../node_modules/socket.io-client/dist/socket.io.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/style.css" type="text/css">
    <title>Admin Page</title>
  </head>
  <body>
    <h1>Admin Page</h1>
    <% include partials/runOnCarFunction.ejs %>
    <a href="#"><button class="cool-btn btn1 btn" type="button" onclick="runOnCar()" id="cancelBtn">Run on Car</button></a>
    <a href="#"><button class="cool-btn btn1 btn" type="button" onclick="clearCode()" id="cancelBtn">Clear code.py</button></a>
    <a href="#"><button class="cool-btn btn1 btn" type="button" onclick="clearCodeReal()" id="cancelBtn">Clear code_real.py</button></a>
    <a href="#"><button class="cool-btn btn1 btn" type="button" onclick='checkAvailableId()' id="cancelBtn">checkAvailableId</button></a>

    <script type="text/javascript">
      var unique_id = 'adminId';
      function clearCode(){
        var socket = io();
        socket.on('connect', function(){
          socket.emit('clearCode', function(){
          });
          socket.on('clearCodeRes', function(msg){
            alert(msg);
          });
        });
      }
      function clearCodeReal(){
        var socket = io();
        socket.on('connect', function(){
          socket.emit('clearCodeReal', function(){
          });
          socket.on('clearCodeRealRes', function(msg){
            alert(msg);
          });
        });
      }
      function checkAvailableId(){
        var socket = io();
        socket.on('connect', function(){
          socket.emit('checkAvailableId', function(){
          });
          socket.on('checkAvailableIdRes', function(msg){
            console.log(msg);
            alert(msg);
            socket.close();
          });
        });
      }
    </script>
  </body>
</html>
