<!--
Code for the Help page.
Emma Johansson
Last updated: 2019-07-10
-->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TRIP TO MARS</title>
    <!-- This partial contains all imports. -->
    <% include partials/imports.ejs %>
  </head>
  <style media="screen">
    h1{
      color: white;
      font-family: courier;
    }

    video{
      margin-left: 20px;
    }
  </style>
  <body>
    <h1 style="text-align: center; margin-top: 30px; color: #ff6d44; font-size: 70px;">TAKE A TRIP TO MARS</h1>
    <h2 style="text-align: center; color: #ff6d44; margin-top: 10px; margin-bottom: 1%; font-family: courier;">in 3 easy steps</h2>
    <div class="row">
      <div class="step1div col-4" style="margin-top:2%;">
        <h1 style="text-align: center;">Step 1: move the rover</h1>
          <div class="vid1" style="text-align:center;">
            <video autoplay muted loop id="vid1" style="width:400px; height:400px;">
              <source src="./videos/runCodeFull.webm" type="video/webm">
            </video>
          </div>
        <!-- <div class="ex1" style="text-align:center; margin-top:50px; color: white;">
          To move the rover you have to drag some blocks to the workspace and hit Run.
        </div> -->
      </div>
      <div class="step2div col-4" style="margin-top:2%;">
        <h1 style="text-align: center;">Step 2: avoid the rocks</h1>
          <div class="vid2" style="text-align:center;">
            <video autoplay muted loop id="vid2" style="width:400px; height:400px;">
              <source src="./videos/hitRockCross.webm" type="video/webm">
            </video>
          </div>
          <!-- <div class="ex2" style="text-align:center; margin-top:50px; color: white;">
            Be aware of the obstacles! Try to move around them.
          </div> -->
      </div>
      <div class="step3div col-4" style="margin-top:2%;">
        <h1 style="text-align: center;">Step 3: get to the base</h1>
          <div class="vid3" style="text-align:center;">
            <video autoplay muted loop id="vid3" style="width:400px; height:400px;">
              <source src="./videos/reachGoalCheck.webm" type="video/webm">
            </video>
          </div>
          <!-- <div class="ex3" style="text-align:center; margin-top:50px; color: white;">
            The goal is to get the rover to the base.
          </div> -->
      </div>
    </div>

    <div class="backButton" style="margin-top:5%; text-align:center;">
      <a href="#"><button class="cool-btn btn1 btn" onclick="history.back(-1)" type="button">Back</button></a>
    </div>

  </body>
</html>
