<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TRIP TO MARS</title>
    <!-- This partial contains all imports. -->
    <% include partials/imports.ejs %>
  </head>
  <body>
    <h1 style="text-align: center; color: white; margin-top: 30px; font-family: courier;">Are you stuck?</h1>
  </body>
</html>
