<!DOCTYPE html>
<!-- <link rel="stylesheet" type="text/css" href="../css/project.css"/> -->
<html lang="en">
  <head>
    <title>TRIP TO MARS</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/style.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="../node_modules/node-blockly/blockly/blockly_compressed.js"></script>
    <script src="../node_modules/node-blockly/blockly/javascript_compressed.js"></script>
        <script src="../node_modules/node-blockly/blockly/python_compressed.js"></script>
    <script src="../node_modules/node-blockly/blockly/blocks_compressed.js"></script>
    <script src="../node_modules/node-blockly/blockly/msg/js/sv.js"></script>
    <script src="./customBlocks/customBlocks.js"></script>

  </head>
  <body>
    <h1 class="text-center" style="font-family: courier;">TRIP TO MARS</h1>

    <!-- Navigation partial -->
    <% include partials/nav.ejs %>

    <div class="row">
      <div class="text-center">
        <div id="blocklyDiv" class="col" style="height: 600px; width: 800px;"></div>
        <xml id="toolbox" style="display: none">
          <block type="forward_block"></block>
          <block type="backward_block"></block>
          <block type="turn_block"></block>
        </xml>
        <button onclick="runCode()" type="button" class="btn btn-danger" id="run-btn">Run the Code</button>
        <div class="box" style="position: absolute; left: 1400px; top: 100px;">
          <h3>Python Code</h3>
          <pre id = 'code'></pre>
        </div>
      </div>
    </div>

    <!-- This partial has all the relevant code related to the simulation window. -->
    <% include partials/simulationWindow.ejs %>

  </body>
  <script>
  var workspace = Blockly.inject('blocklyDiv',
  {toolbox: document.getElementById('toolbox'),
  verticalLayout: true,
  scrollbars: false,
  theme: Blockly.Themes.HighContrast});

  // ID generated uniquely for each window.
  var unique_id = (Math.random()*Math.pow(10,18)).toString();
  var goal = {'x': 1.5, 'y': 1.5/2, 'yaw': 0}; // The position of the goal for level 2.
  // This function is the same for all pages.
  <% include partials/runCodeFunction.js %>
  </script>
</html>
