a.button{
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: initial;
  margin-top: auto;
}

.start-button{
position: relative;
top: 20%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
}

.cool-btn:enabled{
position: relative;
font-family: courier;
font-size: 17px;
text-decoration: none;
color: white;
font-weight: bold;
border: 2px solid #ff6d44;
padding: 14px 50px;
text-transform: uppercase;
transition: 1s all ease;
overflow: hidden;
border-radius: 50px 50px 50px 50px;
}

.cool-btn:enabled::before{
background: #ff6d44;
content: "";
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 9;
transition: all 0.6s ease;
}

.btn1:enabled::before{
width: 100%;
height: 0;
transform: translate(-50%, -50%) rotate(45deg);
text-decoration: none;
}

.btn1:enabled:hover::before{
height: 300%;
font-size: 25px;
}

.box{
  background-color: white;
  width: 400px;
  height: 600px;
  padding: 10px;
  margin: 20px;
  border: 10px solid grey;
  position: relative;
}

pre {
 display: block;
 font-family: monospace;
 white-space: pre;
 margin: 1em 0;
}

h1{
  font-family: courier;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  color: red;
}

/* Modal Content/Box */
.modal-content {
  color: red;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 100px solid #888;
  width: 20%; /* Could be more or less, depending on screen size */
  text-align: center;
}

/* Modal Header */
.modal-header {
 padding: 2px 16px;
 background-color: #242424;
 color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
 padding: 2px 16px;
 background-color: #242424;
 color: white;
}

/* Modal Content */
.modal-content {
 position: relative;
 background-color: #fefefe;
 margin: auto;
 padding: 0;
 border: 1px solid #888;
 width: 80%;
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
 animation-name: animatetop;
 animation-duration: 0.3s
}

/* Add Animation */
@keyframes animatetop {
 from {top: -300px; opacity: 0}
 to {top: 100px; opacity: 1}
}
