a.button{
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: initial;
  margin-top: auto;
}


.cool-btn:enabled{
position: relative;
font-family: courier;
font-size: 30px;
text-decoration: none;
color: white;
font-weight: bold;
border: 2px solid #ff6d44;
padding: 14px 50px;
text-transform: uppercase;
transition: 1s all ease;
overflow: hidden;
border-radius: 50px 50px 50px 50px;
}

.cool-btn:enabled::before{
background: #ff6d44;
content: "";
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index: -1;
transition: all 0.6s ease;
}

.cool-btn2:enabled::before{
background: #ff6d44;
content: "";
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 999;
transition: all 0.6s ease;
}

.btn1:enabled::before{
width: 100%;
height: 0;
transform: translate(-50%, -50%) rotate(45deg);
text-decoration: none;
}

.btn1:enabled:hover::before{
height: 300%;
font-size: 25px;
color:white;
}

pre {
 display: block;
 font-family: courier;
 white-space: pre;
 margin: 1em 0;
}

h1{
  font-family: courier;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width of screen */
  height: 100%; /* Full height of screen*/
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  top: 150px;
}

/* Modal Header */
.modal-header {
 text-align: center;
 padding: 10px 16px;
 background-color: #242424;
 color: white;
}

/* Modal Body */
.modal-body {
  padding: 2px 16px;
  text-align: center;
}

/* Modal Footer */
.modal-footer {
 padding: 10px 16px;
 background-color: #242424;
 text-align: center;
}

/* Modal Content */
.modal-content {
text-align: center;
 position: relative;
 background-color: white;
 text-align: center;
 margin: auto;
 padding: 0;
 width: 80%;
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
 animation-name: animatetop;
 animation-duration: 0.5s
}

/* Add Animation */
@keyframes animatetop {
 from {top: -300px; opacity: 0}
 to {top: 150px; opacity: 1}
}

p{
  font-family: courier;
}

#header{
  font-family: courier;
  font-weight: bold;
}
