a.button{
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: initial;
  margin-top: auto;
}

.start-button{
position: relative;
top: 20%;
left: 50%;
transform: translate(-50%, -50%);
}

.cool-btn:enabled{
position: relative;
font-family: courier;
font-size: 17px;
text-decoration: none;
border: 2px solid #f49842;
padding: 14px 50px;
text-transform: uppercase;
transition: 1s all ease;
overflow: hidden;
border-radius: 50px 50px 50px 50px;
}

.cool-btn:enabled::before{
background: #f49842;
content: "";
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index: -1;
transition: all 0.6s ease;
}

.btn1:enabled::before{
width: 100%;
height: 0;
transform: translate(-50%, -50%) rotate(45deg);
text-decoration: none;
}

.btn1:enabled:hover::before{
height: 300%;
font-size: 17px;
}

.box{
  background-color: white;
  width: 400px;
  height: 600px;
  padding: 10px;
  margin: 20px;
  border: 10px solid grey;
  position: relative;
}

pre {
 display: block;
 font-family: monospace;
 white-space: pre;
 margin: 1em 0;
}
