body{
  background-color: #494949 !important;
}

a.button{
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  margin-top: auto;
}

.cool-btn:enabled{
position: relative;
font-family: courier;
font-size: 25px;
text-decoration: none;
color: white !important;
font-weight: bold;
border: 2px solid #ff6d44;
padding: 14px 50px;
text-transform: uppercase;
transition: 1s all ease;
overflow: hidden;
border-radius: 50px 50px 50px 50px;
}

.cool-btn2:enabled{
position: relative;
font-family: courier;
font-size: 25px;
text-decoration: none;
color: white !important;
font-weight: bold;
border: 2px solid #ff6d44;
padding: 14px 50px;
text-transform: uppercase;
transition: 1s all ease;
overflow: hidden;
border-radius: 50px 50px 50px 50px;
}

.cool-btn:enabled::before{
background: #ff6d44;
content: "";
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index: -1;
transition: all 0.6s ease;
}

.cool-btn2:enabled::before{
background: #ff6d44;
content: "";
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 300;
transition: all 0.6s ease;
}

.btn1:enabled::before{
width: 100%;
height: 0;
transform: translate(-50%, -50%) rotate(45deg);
text-decoration: none;
}

.btn1:enabled:hover::before{
height: 300%;
font-size: 25px;

}

pre {
 display: block;
 font-family: courier;
 white-space: pre;
 margin: 1em 0;
}

h1{
  font-family: courier;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width of screen */
  height: 100%; /* Full height of screen*/
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  top: 150px;
}

/* Modal Header */
.modal-header {
 text-align: center;
 padding: 10px 16px;
 background-color: #242424;
 color: white;
}

/* Modal Body */
.modal-body {
  padding: 2px 16px;
  text-align: center;
}

/* Modal Footer */
.modal-footer {
 padding: 16px 16px;
 background-color: #242424;
 text-align: center;
}

/* Modal Content */
.modal-content {
 text-align: center;
 position: relative;
 background-color: white;
 text-align: center;
 margin: auto;
 padding: 0;
 width: 80%;
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
 animation-name: animatetop;
 animation-duration: 0.7s
}

/* Add Animation */
@keyframes animatetop {
 from {top: -300px; opacity: 0}
 to {top: 150px; opacity: 1}
}

p{
  font-family: courier;
}

#header{
  font-family: courier;
}

.tutorial {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width of screen */
  height: 100%; /* Full height of screen*/
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Tutorial Content/Box */
.tutorialContent {
  left: 0px;
  width:20000px;
}

/* Tutorial Header */
.tutorialHeader {
 text-align: center;
 padding: 10px 16px;
 background-color: #242424;
 color: white;
}

.tutorialBody {
  padding: 2px 16px;
}

/* Tutorial Content */
.tutorialContent {
 position: relative;
 background-color: white;
 margin: auto;
 padding: 0;
 width: 50%;
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
 animation-name: animateleft;
 animation-duration: 0.7s
}

/* Add Animation */
@keyframes animateleft {
 from {left: -1000px; opacity: 0}
 to {left: 0px; opacity: 1}
}

#vid1, #vid2, #vid3{
  -moz-box-shadow:    1px 3px 10px 6px #000;
  -webkit-box-shadow: 1px 3px 10px 6px #000;
  box-shadow:         1px 3px 10px 6px #000;
  margin-top: 20px;
}

#sideTab a {
  z-index: 100; /* Add on top of page */
  position: absolute; /* Position them relative to the browser window */
  text-align: left; /*Position text to the left */
  right: -30px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 15px; /* 15px padding */
  width: 100px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 20px 0 0 20px; /* Rounded corners on the top left and bottom left side */
}

#sideTab a:hover {
  right: 0; /* On mouse-over, make the elements appear as they should */
}

#helpTab {
  top: 1%;
  background-color: #ff6d44;
  font-family: courier;
  font-weight: bold;
}
